/* Clase para NODOS de JavaFX */
.root {
    -fx-font-family:"Consolas";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#vboxPrincipal{
    -fx-background-color: white;
}

Button{
    -fx-background-color:#ababab;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

Button:hover{
    -fx-background-color:black;
}

#botonera{
    -fx-background-color:#e20a03;
    -fx-font-size: 16px;
    -fx-font-weight: bold;

}

#botonera Button{
    -fx-background-color: white;
    -fx-border-radius:20%;
    -fx-border-color: black;
    -fx-background-radius: 20%;
    -fx-text-fill: black;
}

#botonera Button:hover{
    -fx-text-fill: #e20a03;
}






