/* Clase para NODOS de JavaFX */
#vboxPrincipal{
    -fx-background-color: white;
}

Button{
    -fx-background-color:#ababab;
    -fx-text-fill: white;
}
Button:hover{
    -fx-background-color:black;
}

#botonera{
    -fx-background-color:#e20a03;
}

#botonera Button{
    -fx-background-color: white;
    -fx-border-radius:20%;
    -fx-border-color: black;
    -fx-background-radius: 20%;
    -fx-text-fill: black;
}

#botonera Button:hover{
    -fx-text-fill: #e20a03;
}






